#chamber {
    background-color: #FFFFFF;
    width: 90vw; 
    height: 90vw;
    max-height: 90vh;
    max-width: 90vh;
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.chamber {
  stroke:black;
  fill: #000000;
  stroke-width:3;
}

.svgGroup {
    cursor:pointer;
}

.male {
    fill:blue;
}
.female {
    fill:pink;
}

.triangle {
    stroke-width:2;
}

.track {
    stroke-width:1;
}

.simulated {
}
.past {
}
.future {
    fill:black;
}

.left_wing {
    stroke-width:2;
}
.right_wing {
    stroke-width:2;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}